bucket                      = "oracle-tf-state"
key                         = "platform-bootstrap/terraform.tfstate"
region                      = "ca-montreal-1"
skip_region_validation      = true
skip_credentials_validation = true
skip_requesting_account_id  = true
skip_s3_checksum            = true
use_path_style              = true

endpoints = {
  s3 = "https://<namespace>.compat.objectstorage.ca-montreal-1.oraclecloud.com"
}
